# Assignment Feb 2 List , Tuple and Dictionary

## Q1. What are the characteristics of the tuples? Is tuple immutable?

### Ans

1. Tuples are one of the collections of Python
2. It can store multiple items in a single variable
3. We can not update items of tuple
4. The items of tuple are indexed
5. A tuple may contain duplicate items.
6. A tuple can contain different data types.
Tuples are immutable i.e. once created can not be changed.

## Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

Ans : The two tuple methods are

#### index and count 
### index
##### The index method returns the index of first occurence of the value passed in the method. And if the value is not present then it throws an value error

In [3]:
tpl = (1,2,3,4,'Durgesh',12.5)

In [4]:
tpl.index(4)

3

The value 4 is present at index 3

In [5]:
tpl.index('x')

ValueError: tuple.index(x): x not in tuple

It throws error if value not present in the tuple

### count

This method returns the number of occurence of the value passed as argument

E.g.

In [7]:
tpl2 = (1,2,3,"Durgesh",1)
tpl2.count(1)

2

In [8]:
tpl2.count('x')

0

In [9]:
tpl2.count(2)

1

## Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove
## duplicates from the given list.
## List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

### Ans 3

A <b>set </b> datatype do not allow duplicate values.

In [11]:
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [12]:
Set = set(List)

In [15]:
List = list(Set)
List

[1, 2, 3, 4]

## Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

## Ans

The difference between union and update is that union method returns a new set with union of both sets\
where as update method perform union with given set and update to itself for e.g.

In [17]:
set1 = {1,2,3,4,6}
set2 = {2,8,12}

In [18]:
set1

{1, 2, 3, 4, 6}

In [19]:
set2

{2, 8, 12}

In [20]:
set1.union(set2)

{1, 2, 3, 4, 6, 8, 12}

set 1 has no effect

In [30]:
set1

{1, 2, 3, 4, 6, 8, 12}

Now lets update set1 with set2

In [23]:
set1.update(set2)

In [24]:
set1

{1, 2, 3, 4, 6, 8, 12}

## Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

## Ans

Dictionary is a built in collection data type in Python which stores data in key and value pair.
It is changable

Dictionaries are ordered as of version 3.7 before 3.7 it was unordered.\
Example of dictionary

In [26]:
d = {"name":"Durgesh","age":18,"course":"Data Science Masters"}

In [27]:
d

{'name': 'Durgesh', 'age': 18, 'course': 'Data Science Masters'}

In [28]:
d['course']

'Data Science Masters'

## Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

## Ans

Yes, we can create a nested dictionary. Lets see in ths example

In [33]:
d1={"name":"Durgesh","Designation":{"Team Leader","S/W developer"},"address":{"addressLne":"246/2f Omgayatrinagar","City":"Lucknow"},"Languages":["PHP","JavaScript","Python","Java"]}

In [34]:
d1

{'name': 'Durgesh',
 'Designation': {'S/W developer', 'Team Leader'},
 'address': {'addressLne': '246/2f Omgayatrinagar', 'City': 'Lucknow'},
 'Languages': ['PHP', 'JavaScript', 'Python', 'Java']}

In [35]:
d1["address"]

{'addressLne': '246/2f Omgayatrinagar', 'City': 'Lucknow'}

## Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of 
## the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning'] 
## dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

## Ans

In [37]:
topicList =  ['Python', 'Machine Learning', 'Deep Learning']
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}
dict1.setdefault("topics",topicList)

['Python', 'Machine Learning', 'Deep Learning']

In [38]:
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

## Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display
## these three view objects for the given dictionary.
## dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

## Ans

Three view objetcs in  dictionaries are keys,values and items . If we change dictionary then values of these views will be affected.

In [41]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [42]:
itm = dict1.items()
keys = dict1.keys()
values = dict1.values()

In [44]:
itm

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])

In [45]:
keys

dict_keys(['Sport', 'Teams'])

In [46]:
values

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

Now we do some changes in dict1

In [48]:
dict1['Sport'] = "Hockey"
dict1.setdefault("Umpire","David Shepherd")

'David Shepherd'

In [50]:
dict1

{'Sport': 'Hockey',
 'Teams': ['India',
  'Australia',
  'England',
  'South Africa',
  'Sri Lanka',
  'New Zealand'],
 'Umpire': 'David Shepherd'}

In [51]:
itm

dict_items([('Sport', 'Hockey'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']), ('Umpire', 'David Shepherd')])

In [52]:
keys

dict_keys(['Sport', 'Teams', 'Umpire'])

In [53]:
values

dict_values(['Hockey', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'], 'David Shepherd'])